#demo {

}

.AC {
    border:10;
}

.heat {
    border:10;
}

#quandrantOne {
    border-style:solid;
}

#quandrantTwo {
    border-style:solid;
}

#quandrantThree {
    border-style:solid;
}

#quandrantFour {
    border-style:solid;
}



