/* * {
  outline: 1px solid red;
} */

html {
  background-image: url("../images/smarthomebackground.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.card {
  /* opacity: 0.85; */
  min-height: 250px;
  padding: 10px 25px;
}

.my-opacity {
  opacity: 0.85;
}

.ac-heat {
  padding: 20px 20px;
}

.card {
  opacity: 0.85;
}

.dropdown-content {
  overflow: scroll;
  height: 150px;
}

.dropdown-content li {
  height: 30%;
  min-height: 15px;
}


