/* * {
  outline: 1px solid red;
} */

html {
  background-image: url("../images/smarthomebackground.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.card {
  opacity: 0.85;
}

.graph-container {
  padding: 10px 25px;
}
